title: Potential Raspberry Robin Registry Set Internet Settings ZoneMap
id: e46b4e96-6396-bb54-0d11-e1aada87c21e
related:
    - id: 16a4c7b3-4681-49d0-8d58-3e9b796dcb43
      type: derived
status: test
description: |
    Detects registry modifications related to the proxy configuration of the system, potentially associated with the Raspberry Robin malware, as seen in campaigns running in Q1 2024.
    Raspberry Robin may alter proxy settings to circumvent security measures, ensuring unhindered connection with Command and Control servers for maintaining control over compromised systems if there are any proxy settings that are blocking connections.
references:
    - https://tria.ge/240225-jlylpafb24/behavioral1/analog?main_event=Registry&op=SetValueKeyInt
    - https://tria.ge/240307-1hlldsfe7t/behavioral2/analog?main_event=Registry&op=SetValueKeyInt
    - https://admx.help/?Category=Windows_10_2016&Policy=Microsoft.Policies.InternetExplorer::IZ_ProxyByPass
    - https://admx.help/?Category=Windows_10_2016&Policy=Microsoft.Policies.InternetExplorer::IZ_UNCAsIntranet
    - https://admx.help/?Category=Windows_10_2016&Policy=Microsoft.Policies.InternetExplorer::IZ_IncludeUnspecifiedLocalSites
    - https://admx.help/?Category=Windows_10_2016&Policy=Microsoft.Policies.InternetExplorer::SecurityPage_AutoDetect
    - https://bazaar.abuse.ch/browse/signature/RaspberryRobin/
author: Swachchhanda Shrawan Poudel
date: 2024-07-31
tags:
    - attack.persistence
    - attack.t1112
    - attack.defense-evasion
    - detection.emerging-threats
logsource:
    category: registry_set
    product: windows
    definition: 'Requirements: The registry key "\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\ZoneMap\" and its sub keys must be monitored'
detection:
    registry_set:
        EventID: 4657
        Channel: Security
    selection_registry_image:
        - ProcessName|contains:
              - \AppData\Local\Temp\
              - \Downloads\
              - \Users\Public\
              - \Windows\Temp\
        - ProcessName|endswith: \control.exe
    selection_registry_object:
        ObjectName|contains: \SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\ZoneMap\
    selection_value_enable:
        ObjectName|endswith:
            - \IntranetName
            - \ProxyByPass
            - \UNCAsIntranet
        NewValue|contains: DWORD (0x00000001)
    selection_value_disable:
        ObjectName|endswith: \AutoDetect
        NewValue|contains: DWORD (0x00000000)
    condition: registry_set and (all of selection_registry_* and 1 of selection_value_*)
falsepositives:
    - Unknown
# Note: can be upgraded to medium after an initial baseline
level: low
ruletype: Sigma
