title: Modify Group Policy Settings - ScriptBlockLogging
ruletype: Sigma
author: frack113
date: 2022/08/19
description: Detect malicious GPO modifications can be used to implement many other
    malicious behaviors.
detection:
    SELECTION_1:
        EventID: 4104
    SELECTION_2:
        Channel: Microsoft-Windows-PowerShell/Operational
    SELECTION_3:
        ScriptBlockText: '*\SOFTWARE\Policies\Microsoft\Windows\System*'
    SELECTION_4:
        ScriptBlockText:
        - '*GroupPolicyRefreshTimeDC*'
        - '*GroupPolicyRefreshTimeOffsetDC*'
        - '*GroupPolicyRefreshTime*'
        - '*GroupPolicyRefreshTimeOffset*'
        - '*EnableSmartScreen*'
        - '*ShellSmartScreenLevel*'
    condition: (SELECTION_1 and SELECTION_2 and SELECTION_3 and SELECTION_4)
falsepositives:
- Legitimate use
id: b7216a7d-687e-4c8d-82b1-3080b2ad961f
level: medium
logsource:
    category: ps_script
    definition: Script block logging must be enabled
    product: windows
references:
- https://github.com/redcanaryco/atomic-red-team/blob/40b77d63808dd4f4eafb83949805636735a1fd15/atomics/T1484.001/T1484.001.md
related:
-   id: ada4b0c4-758b-46ac-9033-9004613a150d
    type: similar
status: experimental
tags:
- attack.defense_evasion
- attack.privilege_escalation
- attack.t1484.001

