title: Office Security Settings Changed
id: 4d1d8c4a-3188-1ca1-021e-207376ef8b15
related:
    - id: a166f74e-bf44-409d-b9ba-ea4b2dd8b3cd
      type: derived
status: deprecated
description: Detects registry changes to Office macro settings. The TrustRecords contain information on executed macro-enabled documents. (see references)
references:
    - https://twitter.com/inversecos/status/1494174785621819397
    - https://www.mcafee.com/blogs/other-blogs/mcafee-labs/zloader-with-a-new-infection-technique/
    - https://securelist.com/scarcruft-surveilling-north-korean-defectors-and-human-rights-activists/105074/
author: Trent Liffick (@tliffick)
date: 2020-05-22
modified: 2023-08-17
tags:
    - attack.defense-evasion
    - attack.t1112
    - sysmon
logsource:
    category: registry_set
    product: windows
detection:
    registry_set:
        EventID: 13
        Channel: Microsoft-Windows-Sysmon/Operational
    selection:
        TargetObject|endswith:
            - \Security\Trusted Documents\TrustRecords
            - \Security\AccessVBOM
            - \Security\VBAWarnings
    condition: registry_set and selection
falsepositives:
    - Valid Macros and/or internal documents
level: high
ruletype: Sigma
