title: Sysmon Configuration Change
id: 0f88cce2-f7ed-3b15-a7fe-27f2d440680c
related:
    - id: 8ac03a65-6c84-4116-acad-dc1558ff7a77
      type: derived
status: test
description: Detects a Sysmon configuration change, which could be the result of a legitimate reconfiguration or someone trying manipulate the configuration
references:
    - https://learn.microsoft.com/en-us/sysinternals/downloads/sysmon
author: frack113
date: 2022-01-12
tags:
    - attack.defense-evasion
    - sysmon
logsource:
    product: windows
    service: sysmon
detection:
    sysmon:
        Channel: Microsoft-Windows-Sysmon/Operational
    selection:
        EventID: 16
    # To avoid FP just add
    # filter:
    #      ConfigurationFileHash: 'SHA256=The_Hash_Of_Your_Valid_Config_XML'
    # condition: selection and not filter
    condition: sysmon and selection
falsepositives:
    - Legitimate administrative action
level: medium
regression_tests_path: regression_data/rules/windows/sysmon/sysmon_config_modification/info.yml
ruletype: Sigma
