### if you want to execte GitHub Action in your local machine please use following commnad.(Please install act if not)
### act workflow_dispatch -s GITHUB_TOKEN=(your private access token) -P ubuntu-latest=nektos/act-environments-ubuntu:18.04 --artifact-server-path /tmp/act-artifacts

name: Pipline for update Sigma rule

on:
  ## This workflow is exected once a day.
  ## And I add workflow_dispatch so that you can execute this workflow from GitHub UI. 
  workflow_dispatch:
  schedule:
    - cron: '0 20 * * *' 

jobs:
  updateSigmaRule:
    runs-on: ubuntu-latest
    steps:
      - name: clone hayabusa rule repo
        uses: actions/checkout@v2
        with:
          path: hayabusa-rules

      - name: clone sigmac
        uses: actions/checkout@v2
        with:
          repository: SigmaHQ/sigma
          path: sigma-repo # It is necessary to specify the path because hayabusa-rules repository have the folder which has the same name.
          token: ${{ secrets.GITHUB_TOKEN }} ## This is necessary for executing in local machine by act(Local GitHub Action Runner).We have to specify the github token explicitly.

      - name: set Hayabusa backend for sigmac
        run: |
          cp hayabusa-rules/tools/sigmac/convert.py sigma-repo/convert.py
          cp hayabusa-rules/tools/sigmac/hayabusa.py sigma-repo/tools/sigma/backends/hayabusa.py
      
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          token: '${{ secrets.GITHUB_TOKEN }}'

      - name: download requirements.txt with curl 
        uses: wei/curl@master
        with:
          args: https://raw.githubusercontent.com/Yamato-Security/hayabusa-rules/main/tools/sigmac/requirements.txt > requirements.txt 

      - name: setup Python for use script
        run: |
          pip install -r requirements.txt
          rm requirements.txt

      - name: Update sigma rules
        run: |
          cp hayabusa-rules/sigma/builtin/application/win_audit_cve.yml hayabusa-rules/sigma/builtin/applocker/copied22win_audit_cve.yml

      - name: Create Text
        id: create-text
        run: |
          pushd hayabusa-rules
          echo "action_date=$(date '+%Y-%m-%d  %H:%M:%S')" >> $GITHUB_ENV
          echo "change_exist=true" >> $GITHUB_ENV
          git_new=$(git diff --name-status --diff-filter=AC)
          git_mod=$(git diff --name-status --diff-filter=MR)
          git_del=$(git diff --name-status --diff-filter=D)
          is_rule_changed=$(git status)
          if [ "${is_rule_changed}" =~ nothing\sto\scommit ]; then
            echo "change_exist=false" >> $GITHUB_ENV
          else
          	echo "<details><summary>New files</summary>" >> ../changed_rule.logs
          	echo "${git_new}" >> ../changed_rule.logs
          	echo "</details>" >> ../changed_rule.logs
          	echo "<details><summary>Modified files</summary>" >> ../changed_rule.logs
          	echo "${git_mod}" >> ../changed_rule.logs
          	echo "</details>" >> ../changed_rule.logs
          	echo "<details><summary>Deleted files</summary>" >> ../changed_rule.logs
          	echo "${git_del}" >> ../changed_rule.logs
          	echo "</details>" >> ../changed_rule.logs
          fi
          popd

      - name: Create Pull Request
        if: env.change_exist == 'true'
        id: cpr
        uses: peter-evans/create-pull-request@v4
        with:
          path: hayabusa-rules
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Sigma Rule Update (${{ env.action_date }})
          branch: rules/auto-sigma-update
          delete-branch: true
          title: '[Auto] Sigma Update report(${{ env.action_date }})' ### If the PR with the same name have already existed, this github action library will not create new pull request but it will update the PR with the same name. Therefore I add the date to the pull request's title not to update existed PR.
          body: |
            ${{ env.action_date }} Update report

      - name: Enable Pull Request Automerge
        if: steps.cpr.outputs.pull-request-operation == 'created'
        run: |
          echo hajime

      - name: upload change log
        if: env.change_exist == 'true'
        uses: actions/upload-artifact@v2
        with:
          name: changed_rule_log
          path: ${{ github.workspace }}/changed_rule.logs
          retention-days: 30